:root {
  --primary-color: #0D1821;
  --secondary-color: #344966;
  --third-color: #D3F8E2;
  --foruth-color: #EDE7B1;
  --fifth-color: #000000;
  --background-color: #fff;
}

.Header {
  color : var(--primary-color);
}

.footer {
  color : var(--fifth-color);
  margin-top : auto;
}

/* Main button content and animation */

.midpage-button {
  background-color: var(--secondary-color);

  padding : 10px 20px;
  border-radius : 30px;
  border : none;
  cursor : pointer;
  height: 50px;
  width: 150px; 
}

.button-container {
  display : flex;
  justify-content : center;
  align-items : center;
  height : 50vh;
  text-decoration: none;
}

.midpage-button:hover {
  animation : increase 0.5s forwards;
  background-color : #3d5679;
}

@keyframes increase {
  from {
    transform : scale(1); }
    to {
      transform : scale(1.5);
    }
}

#welcome-message {
  color : var(--fifth-color);
  font-size : 50px;
  display: flex;
  justify-content: center;
}

#greeting {
  color : var(--fifth-color);
  font-size : 30px;
  display: flex;
  justify-content: center;
  padding : 0px;
}

#nav-list {
  display :flex;
  justify-content : center;
  list-style-type : none;
  gap : 50px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: -1;
}

#video {
  width: 100%;
  height : 800px;
  object-fit: cover;
  scroll-behavior: smooth;
}

/* fix graphic errors */