:root {
  --primary-color: #F694C1;
  --secondary-color: #E4C1F9;
  --third-color: #D3F8E2;
  --foruth-color: #EDE7B1;
  --fifth-color: #000000;
  --background-color: #fff;
}

.Header {
  color : var(--primary-color);
}